[data-theme="light"],
:root:not([data-theme="dark"]) {
  --header-transparency-overlay: #fffa;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --header-transparency-overlay: #13171fa0;
  }
}
[data-theme="dark"] {
  --header-transparency-overlay: #13171fa0;
}

html {
  scroll-behavior: smooth;
}

header {
  --header-image-jpeg: url("./images/headers/6796_norgesavd.jpeg");
  --header-image-avif: url("./images/headers/6796_norgesavd.avif");
  --header-image-webp: url("./images/headers/6796_norgesavd.webp");

  /* from https://stackoverflow.com/a/62033585 */
  background:
    linear-gradient(var(--header-transparency-overlay), var(--header-transparency-overlay)), var(--header-image-jpeg);
  /* image-set() for anyone else */
  background:
    linear-gradient(var(--header-transparency-overlay), var(--header-transparency-overlay)),
    image-set(
      var(--header-image-avif) type("image/avif"),
      var(--header-image-webp) type("image/webp"),
      var(--header-image-jpeg) type("image/jpeg")
    );
  background-position: center;
}

header.variant1 {
  --header-image-jpeg: url("./images/headers/11615_trignett_squelet.jpeg");
  --header-image-avif: url("./images/headers/11615_trignett_squelet.avif");
  --header-image-webp: url("./images/headers/11615_trignett_squelet.webp");
}
header.variant2 {
  --header-image-jpeg: url("./images/headers/18008_norgesavd.jpeg");
  --header-image-avif: url("./images/headers/18008_norgesavd.avif");
  --header-image-webp: url("./images/headers/18008_norgesavd.webp");
}
header.variant3 {
  --header-image-jpeg: url("./images/headers/6187_norge090.jpeg");
  --header-image-avif: url("./images/headers/6187_norge090.avif");
  --header-image-webp: url("./images/headers/6187_norge090.webp");
}
header.variant4 {
  --header-image-jpeg: url("./images/headers/6256_norge090.jpeg");
  --header-image-avif: url("./images/headers/6256_norge090.avif");
  --header-image-webp: url("./images/headers/6256_norge090.webp");
}
header.variant5 {
  --header-image-jpeg: url("./images/headers/6378_norge166_15.jpeg");
  --header-image-avif: url("./images/headers/6378_norge166_15.avif");
  --header-image-webp: url("./images/headers/6378_norge166_15.webp");
}
header.variant6 {
  --header-image-jpeg: url("./images/headers/6796_norgesavd.jpeg");
  --header-image-avif: url("./images/headers/6796_norgesavd.avif");
  --header-image-webp: url("./images/headers/6796_norgesavd.webp");
}
header.variant7 {
  --header-image-jpeg: url("./images/headers/700_amt2_bratsberg.jpeg");
  --header-image-avif: url("./images/headers/700_amt2_bratsberg.avif");
  --header-image-webp: url("./images/headers/700_amt2_bratsberg.webp");
}

header,
main,
footer {
  border: 5px solid var(--pico-muted-border-color);
}
main {
  margin-top: 5px;
  margin-bottom: 5px;
}

.metadata .metadata-tags ul {
  list-style: none;
}
.metadata .metadata-tags ul li {
  display: inline;
}

body#about figure {
  float: right;
  width: 50%;
}

main {
  min-height: 100vh;
}

.footnotes > li {
  list-style: none;
}

[href^="#footnote-"] {
  text-decoration: none;
}

[id^="footnote-"]:target {
  border: var(--pico-border-width) dotted;
}
