<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/static/css/vendors/pico.classless.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/syntaxhighlight.css" />
    <link title="Atom Feed" href="/atom.xml" rel="alternate" type="application/atom+xml" />
    <script type="module" src="/static/js/syntaxlighlight.js"></script>
    <title>{{ title }} | Baptiste Mispelon</title>
  </head>
  <body>
    <header{% if header_variant %} class="{{ header_variant }}"{% endif %}>
      <h1>{% raw %}{# Blog title goes here #}{% endraw %}</h1>
      <nav>
        <ul>
          <li><a href="/">./index.html</a></li>
          <li><a href="/about.html">./about.html</a></li>
        </ul>
      </nav>
    </header>
    <main>
{% block main %}{% endblock %}
    </main>
    <footer>
      <p>© <strong>Baptiste Mispelon</strong> unless otherwise noted</p>
      <p>Made with 💖 by a human, 100% slop-free guarantee</p>
      <p><a href="/atom.xml">Subscribe with RSS</a></p>
    </footer>
  </body>
</html>
